/* .gm-style .gm-style-iw-c {
    padding-right: 10px !important;
     padding-bottom: 0px !important;
     max-width: 500px !important;
     max-height: 400px !important;
     min-width: 0px !important;
     position: relative;
     box-sizing: border-box;
     overflow: hidden;
     top: 0;
     left: 0;
     transform: translate(0,0);
     background-color: #dd9191;
     border-radius: 8px;
     box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
 }
  */